.logo__cursor { 
    background: #5900ff;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
  
.fa:hover {
    opacity: 0.2;
}

img {
    max-width: 50%;
    max-height: 75%;
    height: auto;
    border-radius: 20px;
    opacity: .8;
  }

img:hover {
    transform: scaleX(-1);
}